* {
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
    /* display: flex; */
    /* max-width: 1050px; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* text-align: center; */
}

a {
    text-decoration: none;
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    width: 725px;
    height: 25px;
    margin: 15px;
    text-align: center;
    padding: 15px;
    opacity: .75;
}

a:visited {
    color:white
}

a:hover {
    opacity: 1.0;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    left: 550px;
}

span {
    color: red;
}

#hello {
    color: green;
}

#bye {
    color: blue;
}